.khan__buy-link {
  margin: 0 0 0 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  align-self: self-start;
  transition: opacity 2s ease 1s;
}

.khan__buy-link:hover {
  opacity: .4;
}